// 変数の定義
$breakpoint-pc: 1024px;
$breakpoint-tab: 768px;
$breakpoint-spend: 767px;

// Mixinの定義
@mixin respond-to($device) {
	@if $device=='pc' {
		@media (min-width: $breakpoint-pc) {
			@content;
		}
	}

	@else if $device=='tab' {
		@media (min-width: $breakpoint-tab) and (max-width: ($breakpoint-pc - 1px)) {
			@content;
		}
	}

	@else if $device=='sp' {
		@media (min-width: 0) and (max-width: $breakpoint-spend) {
			@content;
		}
	}
}

section.archive {
    
    width: 100%;
    text-align: center;

    div.categorys {
        width: 100%;
        padding: 10px 0;
        p {
            text-align: left;
            a {
                display: inline-block;
                padding: 0.3rem;
                font-size: 1.0rem;
                border-radius: 3px;
                border: solid 1px white;
                margin: 10px;
            }
        }
    }

    div.archive-text {
        width: 100%;
        h2 {
            padding: 20px 0;
        }
    }
    div.archive-content {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;

        article.archive-content_item {
            min-width: 300px;
            max-width: 31%;
            height: 450px;
            @include respond-to("pc") {
                height: 500px;
            }
            margin: 0 0 calc( 7% / 3 );
            a {
                display: block;
                width: 100%;
                height: 100%;
                border: solid 1px #ffffff;

                div.img {
                    display: block;
                    width: 100%;
                    height: auto;
                    aspect-ratio: 16/9;
                    background-color: gray;

                }

                div.post {
                    width: 100%;
                    padding: 1rem;
                    text-align: left;
                    div.post-meta {
                        width: 100%;
                        time{
                            margin-right: 1rem;
                        }
                        p, time {
                            display: inline-block;
                        }
                    }

                    div.post-text {
                        word-break: break-all;
                        h3 {
                            font-size: 1.3rem;
                            line-height: 1.8rem;
                            max-height: 3.4rem; /*２行ぴったりで表示してそれ以降は非表示*/
                            margin: 1rem 0;
                            overflow: hidden;
                        }

                        p {
                            font-size: 1.0rem;
                            line-height: 1.5rem;
                            max-height: 7.5rem; /*5行ぴったりで表示してそれ以降は非表示*/
                            margin: 1rem 0;
                            overflow: hidden;
                        }
                    }
                }
            }
        }
        div.pagination {
            ul{
                width: 100%;
                display: flex;
                justify-content: center;
                gap: 40px;
                flex-wrap: nowrap;
                li{
                    width: 80px;
                    height: 30px;
                    list-style: none;
                    a{
                        display: block;
                        width: 100%;
                        height: 100%;
                        line-height: 30px;
                        border: solid 1px #ffffff;
                        text-align: center;
                    }
                }
            }
        }

}

}