// 変数の定義
$breakpoint-pc: 1024px;
$breakpoint-tab: 768px;
$breakpoint-spend: 767px;

// Mixinの定義
@mixin respond-to($device) {
	@if $device=='pc' {
		@media (min-width: $breakpoint-pc) {
			@content;
		}
	}

	@else if $device=='tab' {
		@media (min-width: $breakpoint-tab) and (max-width: ($breakpoint-pc - 1px)) {
			@content;
		}
	}

	@else if $device=='sp' {
		@media (min-width: 0) and (max-width: $breakpoint-spend) {
			@content;
		}
	}
}

section.archive {
    width: 100%;
    text-align: center;

    div.categorys {
        width: 100%;

        ul {
            width: 100%;
            text-align: left;

            li {
                display: inline-block;
                padding: 10px;
                border: solid 1px #ffffff;
                margin: 10px;

                a {}
            }
        }
    }

    div.archive-text {
        h2 {
            padding: 20px 0;
        }
    }

    div.archive-content {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        article.archive-content_item {
            width: 300px;
            height: 400px;
            margin: 0 auto;
            margin: 20px;
            a {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                width: 100%;
                height: 100%;
                border: solid 1px #ffffff;

                div.img {
                    width: 300px;
                    height: 160px;
                    background-color: gray;

                    img {}
                }

                div.post {
                    width: 100%;
                    padding: 20px;
                    text-align: left;
                    div.post-meta {
                        width: 100%;
                        

                        p, time {
                            display: inline-block;
                            padding: 10px;
                        }
                    }

                    div.post-text {
                        word-break: break-all;
                        h3 {
                            padding: 10px 0;
                        }

                        p {
                            padding: 5px 0;
                        }
                    }
                }
            }
        }
        @include respond-to("pc"){
            article.archive-content_item {
                width: 1000px;
                height: 250px;
                margin: 0 auto;
    
                a {
                    display: flex;
                    flex-wrap: nowrap;
                    width: 100%;
                    height: 100%;
                    border: solid 1px #ffffff;
    
                    div.img {
                        width: 400px;
                        height: 100%;
                        background-color: gray;
    
                        img {}
                    }
    
                    div.post {
                        width: calc( 100% - 400px );
                        padding: 20px 50px;
                        text-align: left;
                        div.post-meta {
                            width: 100%;
                            
    
                            p, time {
                                display: inline-block;
                                padding: 10px;
                            }
                        }
    
                        div.post-text {
                            word-break: break-all;
                            h3 {
                                padding: 10px 0;
                            }
    
                            p {
                                padding: 5px 0;
                            }
                        }
                    }
                }
            }
        }
    }

    div.pagination {
        ul{
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 40px;
            flex-wrap: nowrap;
            li{
                width: 80px;
                height: 30px;
                list-style: none;
                a{
                    display: block;
                    width: 100%;
                    height: 100%;
                    line-height: 30px;
                    border: solid 1px #ffffff;
                    text-align: center;
                }
            }
        }
	}
}