section.archive {
  width: 100%;
  text-align: center;
}

section.archive div.categorys {
  width: 100%;
}

section.archive div.categorys ul {
  width: 100%;
  text-align: left;
}

section.archive div.categorys ul li {
  display: inline-block;
  padding: 10px;
  border: solid 1px #ffffff;
  margin: 10px;
}

section.archive div.archive-text h2 {
  padding: 20px 0;
}

section.archive div.archive-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.archive div.archive-content article.archive-content_item {
  width: 300px;
  height: 400px;
  margin: 0 auto;
  margin: 20px;
}

section.archive div.archive-content article.archive-content_item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  border: solid 1px #ffffff;
}

section.archive div.archive-content article.archive-content_item a div.img {
  width: 300px;
  height: 160px;
  background-color: gray;
}

section.archive div.archive-content article.archive-content_item a div.post {
  width: 100%;
  padding: 20px;
  text-align: left;
}

section.archive div.archive-content article.archive-content_item a div.post div.post-meta {
  width: 100%;
}

section.archive div.archive-content article.archive-content_item a div.post div.post-meta p, section.archive div.archive-content article.archive-content_item a div.post div.post-meta time {
  display: inline-block;
  padding: 10px;
}

section.archive div.archive-content article.archive-content_item a div.post div.post-text {
  word-break: break-all;
}

section.archive div.archive-content article.archive-content_item a div.post div.post-text h3 {
  padding: 10px 0;
}

section.archive div.archive-content article.archive-content_item a div.post div.post-text p {
  padding: 5px 0;
}

@media (min-width: 1024px) {
  section.archive div.archive-content article.archive-content_item {
    width: 1000px;
    height: 250px;
    margin: 0 auto;
  }
  section.archive div.archive-content article.archive-content_item a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    border: solid 1px #ffffff;
  }
  section.archive div.archive-content article.archive-content_item a div.img {
    width: 400px;
    height: 100%;
    background-color: gray;
  }
  section.archive div.archive-content article.archive-content_item a div.post {
    width: calc( 100% - 400px);
    padding: 20px 50px;
    text-align: left;
  }
  section.archive div.archive-content article.archive-content_item a div.post div.post-meta {
    width: 100%;
  }
  section.archive div.archive-content article.archive-content_item a div.post div.post-meta p, section.archive div.archive-content article.archive-content_item a div.post div.post-meta time {
    display: inline-block;
    padding: 10px;
  }
  section.archive div.archive-content article.archive-content_item a div.post div.post-text {
    word-break: break-all;
  }
  section.archive div.archive-content article.archive-content_item a div.post div.post-text h3 {
    padding: 10px 0;
  }
  section.archive div.archive-content article.archive-content_item a div.post div.post-text p {
    padding: 5px 0;
  }
}

section.archive div.pagination ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

section.archive div.pagination ul li {
  width: 80px;
  height: 30px;
  list-style: none;
}

section.archive div.pagination ul li a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 30px;
  border: solid 1px #ffffff;
  text-align: center;
}
/*# sourceMappingURL=archive.css.map */