// 変数の定義
$breakpoint-pc: 1024px;
$breakpoint-tab: 768px;
$breakpoint-sp: 480px;

// Mixinの定義
@mixin respond-to($device) {
	@if $device=='pc' {
		@media (min-width: $breakpoint-pc) {
			@content;
		}
	}

	@else if $device=='tab' {
		@media (min-width: $breakpoint-tab) and (max-width: ($breakpoint-pc - 1px)) {
			@content;
		}
	}

	@else if $device=='sp' {
		@media (max-width: $breakpoint-sp) {
			@content;
		}
	}
}

body {
	color: #fff;

	div.sections-title {
		width: 100%;
		text-align: center;

		&.hide {
			transition: all .5s;
			transform: scale(0.5);
		}

		&.hide.scale-show {
			transform: scale(1);
			opacity: 1;
		}

		h2 {
			display: inline-block;
			font-size: 48px;
			margin: 20px;
		}
	}

	p.section-text {
		max-width: 700px;
		margin: 20px auto;
		padding: 0 20px;
	}

	div#particles-js {
		position: fixed;
		width: 100vw;
		height: 100vh;
		background-color: blue;
		z-index: -1;
	}

	.img {
		position: relative;
		overflow: hidden;
		img{
			position: absolute;
			display: block;
			width: 100%;
			height: auto;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	.img_item {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.hide {
		opacity: 0;
	}

	div.sections-text-scale {
		transform: scale(0);
		opacity: 0;
		transition: all .8s;

		&.scale-show {
			transform: scale(1);
			opacity: 1;
		}
	}
	p.ip{
		text-align: center;
	}

	header {
		position: relative;
		width: 100%;
		height: calc( 100vh - 80px);
		overflow: hidden;

		div.menu-content {
			display: flex;
			justify-content: center;
			flex-wrap: nowrap;
			width: 100%;
			height: 80px;
			background-color: #ffffff;
			transition: all 1s;
			&.hide {
				transform: translateY(-200px);
			}

			&.hide.fade-dawn {
				transform: translateY(0);
				opacity: 1;
			}
			div.img {
				position: fixed;
				top: 0;
				left: 0;
				width: 70px;
				height: 70px;
				margin: 5px;
				background-color: gray;
				&.logo {}

				a {
					img {}
				}
			}

			nav.menu {
				width: auto;
				height: 100%;
				transition: all .5s;
				div{
					height: 100%;
				ul {
					display: flex;
					justify-content: center;
					align-items: center;
					height: 100%;
					gap: 40px;
					color: #000000;

					li {
						a {}
					}
				}
			}
			}
		}

		div.header-img {
			position: absolute;
			width: 100%;
			height: calc(100vh - 80px);
			top: 0;
			background-image: url('../photos/sitecodding.jpg');
			background-attachment: fixed;
			z-index: -1;
		}

		div.content-profile {
			display: flex;
			flex-wrap: wrap;
			@include respond-to('pc') {
			flex-wrap: nowrap;
			}
			justify-content: center;
			align-items: center;
			width: 100%;
			height: calc(100% - 80px);
			transition: all .5s;

			&.hide {
				transform: translateY(200px);
			}

			&.hide.fade-up {
				transform: translateY(0);
				opacity: 1;
			}

			div.img {
				width: 300px;
				height: 300px;
				border-radius: 150px;
				background-color: #ffff;
			}

			div.content-profile_text {
				@include respond-to("pc"){
				padding-left: 100px;
				}
				text-align: center;
				h2, p{
					width: 80%;
					max-width: 500px;
					padding: 10px 0;
					margin: 0 auto;
				}
				a{
					display: block;
					width: 150px;
					height: 40px;
					line-height: 30px;
					border: solid 1px #ffffff;
					margin: 20px auto;
				}
			}
		}
	}

	main {
		max-width: 1400px;
		width: 100%;
		margin: 0 auto;
		@include respond-to("sp"){
			padding: 10px;
		}
		@include respond-to("tab"){
			padding: 100px 100px 100px;
		}
		@include respond-to("pc"){
		padding: 100px 100px 100px;
		}
		


		section.section-news {
			width: 100%;
			max-width: 1000px;
			margin: 0 auto;
			transition: all .5s;

			&.hide.fade-in {
				opacity: 1;
			}

			div.sections-title {
				h2 {}
			}

			ul.news-list {
				li.news-list__item {
					width: 100%;
					list-style: none;
					border-top: solid 1px #fff;
					margin: 0;

					article {
						display: flex;
						flex-wrap: wrap;
						align-items: center;
						min-height: 60px;
						padding: 10px;

						time {
							margin: 0 10px;
						}

						span.category {
							display: inline-block;
							padding: 5px;
							margin: 0 10px;
							color: #000000;
							background-color: #ffff;
						}

						p {
							margin: 0 10px;
							display: inline-block;
						}
					}
				}
			}
		}

		section.section-work {
			width: 100%;
			margin: 0 auto;


			div.sections-title {
				h2 {}

			}

			p.section-text {}

			div.work-content {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				width: 100%;
				gap: 50px;
				margin: 60px auto 0;

				div.work-content_item {
					width: 100%;
					max-width: 350px;
					height: auto;
					text-align: center;
					word-wrap: break-word;

					&.hide {
						transition: all .5s;
						transform: translateY(200px);
					}

					&.hide.fade-up {
						transform: translateY(0);
						opacity: 1;
					}

					div.img {
						width: 100%;
						aspect-ratio: 16/9;
						background-color: gray;

						img {}
					}

					h3 {
						padding: 20px 40px 10px;
					}

					p {
						width: 100%;
						padding: 10px 40px 30px;
					}
				}
			}
		}

		section.section-portfolio {
			div.sections-title {
				h2 {}
			}

			p.section-text {}

			div.portofolio-content {
				width: 100%;
				margin: 0 auto;
				padding: 20px;

				div.portofolio-content__item {
					width: 100%;
					max-width: 500px;
					text-align: center;
					background-color: rgba(255, 255, 255, 0.7);
					color: #000000;
					margin: 0 auto;
					padding-bottom: 20px;
					transition: all 1s;
					word-wrap: break-word;

					&.left,
					&.right {
						margin: 20px auto;
					}

					&.left {
						&.hide {
							transform: translateX(-100px);
						}

						&.hide.slide-left-in {
							transform: translateX(0);
							opacity: 1;
						}
					}

					&.right {
						&.hide {
							transform: translateX(100px);
						}

						&.hide.slide-right-in {
							transform: translateX(0);
							opacity: 1;
						}
					}

					@include respond-to('pc') {
						&.left {
							margin-left: 0;

							&.hide {
								transform: translateX(-100px);
							}

							&.hide.slide-left-in {
								transform: translateX(0);
								opacity: 1;
							}
						}

						&.right {
							margin-left: 620px;

							&.hide {
								transform: translateX(100px);
							}

							&.hide.slide-right-in {
								transform: translateX(0);
								opacity: 1;
							}
						}
					}

					div.portofolio-img-slider {
						width: 100%;
						aspect-ratio: 16/9;
						background-color: gray;

						div.img {
							width: 100%;
							height: 100%;

							img {}
						}
					}

					h3 {
						padding: 20px 40px 10px;
					}

					p {
						padding: 10px 40px 20px;
					}

					a {
						display: block;
						width: 100px;
						margin: auto;
						border: solid 1px #000000;
					}
				}
			}
		}

		section.section-skill {
			div.sections-title {
				h2 {}
			}

			p.section-text {}

			div.skill-content {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				width: 100%;
				max-width: 1200px;
				margin: 0 auto;

				div.skill-content__item {
					display: flex;
					flex-wrap: nowrap;
					width: auto;
					min-height: 250px;
					color: black;
					background-color: rgba(255, 255, 255, 0.7);
					margin: 20px 0;
					transition: all 1s;
					word-wrap: break-word;

					&.skill-left {
						transform: translateX(-200px);
					}

					&.skill-left.slide-in {
						transform: translateX(0);
						opacity: 1;
					}

					&.skill-right {
						transform: translateX(200px);
					}

					&.skill-right.slide-in {
						transform: translateX(0);
						opacity: 1;
					}

					div.img {
						width: 250px;
						height: 250px;
						margin: 0;
						background-color: gray;

						img {}
					}

					div.skill-content__item__text {
						display: flex;
						flex-wrap: wrap;
						justify-content: center;
						width: calc(100% - 330px);
						padding: 40px 60px;

						h3 {}

						div.img{
							img {}
						}

						p {}
					}

				}

				@include respond-to('pc') {
					div.skill-content__item {
						display: flex;
						flex-wrap: nowrap;
						width: auto;
						min-height: 250px;
						color: black;
						background-color: rgba(255, 255, 255, 0.7);
						margin: 20px 0;
						transition: all 1s;

						&.skill-left {
							transform: translateX(-200px);
						}

						&.skill-left.slide-in {
							transform: translateX(0);
							opacity: 1;
						}

						&.skill-right {
							transform: translateX(200px);
						}

						&.skill-right.slide-in {
							transform: translateX(0);
							opacity: 1;
						}

						div.img {
							width: 250px;
							height: 250px;
							margin: 0;
							background-color: gray;

							img {}
						}

						div.skill-content__item__text {
							display: flex;
							flex-wrap: wrap;
							justify-content: center;
							width: calc(100% - 330px);
							padding: 40px 60px;

							h3 {}

							div.img-star {
								img {}
							}

							p {}
						}

					}
				}

			}
		}

		section.section-contact {
			max-width: 1200px;
			width: 100%;
			margin: 0 auto;

			div.sections-title {
				h2 {}
			}

			form {
				transition: all 1s;

				&.hide {
					transform: translateY(200px);
				}

				&.hide.fade-up {
					transform: translateY(0);
					opacity: 1;
				}

				label {
					display: flex;
					flex-wrap: wrap;
					justify-content: center;
					align-items: center;
					width: 100%;
					height: auto;
					padding: 25px 10px;
					border-top: solid 1px #ffff;

					h3 {
						width: 400px;
						font-size: 24px;
						@include respond-to("sp"){
							padding-bottom: 20px;
						}
						@include respond-to("tab"){
							padding-bottom: 20px;
						}
					}

					input {
						display: block;
						width: 600px;
						height: 50px;
						background-color: #ffff;
					}

					/*============================
#message
============================*/
					textarea#message {
						display: block;
						width: 600px;
						height: 200px;
						background-color: #ffff;
					}
				}

				button {
					display: block;
					width: 80px;
					height: 40px;
					line-height: 40px;
					background-color: #ffff;
					color: black;
					margin: 50px calc(50% - 40px) 60px;
				}
			}
		}
		section.confirm {
			max-width: 1200px;
			width: 100%;
			margin: 0 auto;
			padding-bottom: 60px;
			div.sections-text-scale {
				div.sections-title {
					h2 {
					}
				}
			}
			div.confirm {
				div.confirm-content {
					display: flex;
					justify-content: center;
					width: 100%;
					height: auto;
					padding: 25px 10px;
					border-top: solid 1px #ffff;
					h3 {
						width: 400px;
						font-size: 24px;
					}
					p {
						display: block;
						width: 600px;
						height: 50px;
						line-height: 50px;
						text-align: left;
					}
				}
			}
			p.section-text {
				text-align: center;
			}
			div.button-area{
				position: relative;
				width: 100%;
				text-align: center;
			a {
				position: absolute;
				left: 50%;
				display: block;
					width: auto;
					height: 40px;
					font-size: 20px;
					line-height: 20px;
					background-color: #ffff;
					padding: 10px;
					color: black;
					margin: 50px 0 0;
					transform: translateX(-50%);
			}
		}
		}

		//page-semd.phpのスタイル
		section.semdmail {
			display: flex;
			flex-wrap: wrap;
					justify-content: center;
					width: 100%;
					height: auto;
					padding: 25px 10px;
					border-top: solid 1px #ffff;
			div.sections-text-scale {
				div.sections-title {
					h2 {
					}
				}
			}
			div.semdmail {
				p {
					text-align: center;
					padding-top: 30px;
				}
			}

			div.button-area{
				position: relative;
				width: 100%;
				text-align: center;
			a {
				position: absolute;
				left: 50%;
				display: block;
					width: auto;
					height: 40px;
					font-size: 20px;
					line-height: 20px;
					background-color: #ffff;
					padding: 10px;
					color: black;
					margin: 50px 0 60px;
					transform: translateX(-50%);
			}
		}
		}
	}

	footer {
		width: 100%;
		height: 80px;
		color: black;
		background-color: #ffff;

		p {
			text-align: center;
			padding: 20px 0;
		}
	}
}