body {
  color: #fff;
}
body div.sections-title {
  width: 100%;
  text-align: center;
}
body div.sections-title.hide {
  transition: all 0.5s;
  transform: scale(0.5);
}
body div.sections-title.hide.scale-show {
  transform: scale(1);
  opacity: 1;
}
body div.sections-title h2 {
  display: inline-block;
  font-size: 48px;
  border-bottom: solid 1px #fff;
  margin: 20px;
}
body p.section-text {
  max-width: 700px;
  margin: 20px auto;
  padding: 0 20px;
}
body div#particles-js {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: blue;
  z-index: -1;
}
body .img {
  position: relative;
  overflow: hidden;
}
body .img_item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body .hide {
  opacity: 0;
}
body div.sections-text-scale {
  transform: scale(0);
  opacity: 0;
  transition: all 0.8s;
}
body div.sections-text-scale.scale-show {
  transform: scale(1);
  opacity: 1;
}
body header {
  position: relative;
  width: 100%;
  height: calc(100vh - 80px);
  overflow: hidden;
}
body header div.menu-content {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  transition: all 1s;
}
body header div.menu-content.hide {
  transform: translateY(-200px);
}
body header div.menu-content.hide.fade-dawn {
  transform: translateY(0);
  opacity: 1;
}
body header div.menu-content div.img {
  position: fixed;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  margin: 5px;
  background-color: gray;
}
body header div.menu-content nav.menu {
  width: auto;
  height: 100%;
  transition: all 0.5s;
}
body header div.menu-content nav.menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 40px;
  color: #000000;
}
body header div.header-img {
  position: absolute;
  width: 100%;
  height: calc(100vh - 80px);
  top: 0;
  background-image: url("../photos/sitecodding.jpg");
  background-attachment: fixed;
  z-index: -1;
}
body header div.content-profile {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100% - 80px);
  transition: all 0.5s;
}
body header div.content-profile.hide {
  transform: translateY(200px);
}
body header div.content-profile.hide.fade-up {
  transform: translateY(0);
  opacity: 1;
}
body header div.content-profile div.img {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  background-color: white;
}
body header div.content-profile div.content-profile_text {
  padding-left: 100px;
  text-align: center;
}
body header div.content-profile div.content-profile_text h2, body header div.content-profile div.content-profile_text p {
  width: 500px;
  padding: 10px 0;
}
body header div.content-profile div.content-profile_text a {
  display: block;
  width: 150px;
  height: 40px;
  line-height: 30px;
  border: solid 1px #ffffff;
  margin: 20px auto;
}
body main {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 100px 100px 100px;
}
body main section.section-news {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  transition: all 0.5s;
}
body main section.section-news.hide.fade-in {
  opacity: 1;
}
body main section.section-news ul.news-list li.news-list__item {
  width: 100%;
  list-style: none;
  border-top: solid 1px #fff;
  margin: 0 10px;
}
body main section.section-news ul.news-list li.news-list__item article {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 60px;
  padding: 10px;
}
body main section.section-news ul.news-list li.news-list__item article time {
  margin: 0 10px;
}
body main section.section-news ul.news-list li.news-list__item article span.category {
  display: inline-block;
  padding: 5px;
  margin: 0 10px;
  color: #000000;
  background-color: white;
}
body main section.section-news ul.news-list li.news-list__item article p {
  margin: 0 10px;
  display: inline-block;
}
body main section.section-work {
  width: 100%;
  margin: 0 auto;
}
body main section.section-work div.work-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 50px;
  margin: 60px auto 0;
}
body main section.section-work div.work-content div.work-content_item {
  width: 350px;
  height: auto;
  text-align: center;
  word-wrap: break-word;
}
body main section.section-work div.work-content div.work-content_item.hide {
  transition: all 0.5s;
  transform: translateY(200px);
}
body main section.section-work div.work-content div.work-content_item.hide.fade-up {
  transform: translateY(0);
  opacity: 1;
}
body main section.section-work div.work-content div.work-content_item div.img {
  width: 100%;
  aspect-ratio: 16/9;
  background-color: gray;
}
body main section.section-work div.work-content div.work-content_item h3 {
  padding: 20px 40px 10px;
}
body main section.section-work div.work-content div.work-content_item p {
  width: 100%;
  padding: 10px 40px 30px;
}
body main section.section-portfolio div.portofolio-content {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}
body main section.section-portfolio div.portofolio-content div.portofolio-content__item {
  min-width: 300px;
  max-width: 500px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
  color: #000000;
  margin: 0 auto;
  padding-bottom: 20px;
  transition: all 1s;
  word-wrap: break-word;
}
body main section.section-portfolio div.portofolio-content div.portofolio-content__item.left, body main section.section-portfolio div.portofolio-content div.portofolio-content__item.right {
  margin: 20px auto;
}
body main section.section-portfolio div.portofolio-content div.portofolio-content__item.left.hide {
  transform: translateX(-100px);
}
body main section.section-portfolio div.portofolio-content div.portofolio-content__item.left.hide.slide-left-in {
  transform: translateX(0);
  opacity: 1;
}
body main section.section-portfolio div.portofolio-content div.portofolio-content__item.right.hide {
  transform: translateX(100px);
}
body main section.section-portfolio div.portofolio-content div.portofolio-content__item.right.hide.slide-right-in {
  transform: translateX(0);
  opacity: 1;
}
@media (min-width: 1024px) {
  body main section.section-portfolio div.portofolio-content div.portofolio-content__item.left {
    margin-left: 0;
  }
  body main section.section-portfolio div.portofolio-content div.portofolio-content__item.left.hide {
    transform: translateX(-100px);
  }
  body main section.section-portfolio div.portofolio-content div.portofolio-content__item.left.hide.slide-left-in {
    transform: translateX(0);
    opacity: 1;
  }
  body main section.section-portfolio div.portofolio-content div.portofolio-content__item.right {
    margin-left: 620px;
  }
  body main section.section-portfolio div.portofolio-content div.portofolio-content__item.right.hide {
    transform: translateX(100px);
  }
  body main section.section-portfolio div.portofolio-content div.portofolio-content__item.right.hide.slide-right-in {
    transform: translateX(0);
    opacity: 1;
  }
}
body main section.section-portfolio div.portofolio-content div.portofolio-content__item div.portofolio-img-slider {
  width: 100%;
  aspect-ratio: 16/9;
  background-color: gray;
}
body main section.section-portfolio div.portofolio-content div.portofolio-content__item div.portofolio-img-slider div.img {
  width: 100%;
  height: 100%;
}
body main section.section-portfolio div.portofolio-content div.portofolio-content__item h3 {
  padding: 20px 40px 10px;
}
body main section.section-portfolio div.portofolio-content div.portofolio-content__item p {
  padding: 10px 40px 20px;
}
body main section.section-portfolio div.portofolio-content div.portofolio-content__item a {
  display: block;
  width: 100px;
  margin: auto;
  border: solid 1px #000000;
}
body main section.section-skill div.skill-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
body main section.section-skill div.skill-content div.skill-content__item {
  display: flex;
  flex-wrap: nowrap;
  width: auto;
  min-height: 250px;
  color: black;
  background-color: rgba(255, 255, 255, 0.7);
  margin: 20px 0;
  transition: all 1s;
  word-wrap: break-word;
}
body main section.section-skill div.skill-content div.skill-content__item.skill-left {
  transform: translateX(-200px);
}
body main section.section-skill div.skill-content div.skill-content__item.skill-left.slide-in {
  transform: translateX(0);
  opacity: 1;
}
body main section.section-skill div.skill-content div.skill-content__item.skill-right {
  transform: translateX(200px);
}
body main section.section-skill div.skill-content div.skill-content__item.skill-right.slide-in {
  transform: translateX(0);
  opacity: 1;
}
body main section.section-skill div.skill-content div.skill-content__item div.img {
  width: 250px;
  height: 250px;
  margin: 0;
  background-color: gray;
}
body main section.section-skill div.skill-content div.skill-content__item div.skill-content__item__text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: calc(100% - 330px);
  padding: 40px 60px;
}
@media (min-width: 1024px) {
  body main section.section-skill div.skill-content div.skill-content__item {
    display: flex;
    flex-wrap: nowrap;
    width: auto;
    min-height: 250px;
    color: black;
    background-color: rgba(255, 255, 255, 0.7);
    margin: 20px 0;
    transition: all 1s;
  }
  body main section.section-skill div.skill-content div.skill-content__item.skill-left {
    transform: translateX(-200px);
  }
  body main section.section-skill div.skill-content div.skill-content__item.skill-left.slide-in {
    transform: translateX(0);
    opacity: 1;
  }
  body main section.section-skill div.skill-content div.skill-content__item.skill-right {
    transform: translateX(200px);
  }
  body main section.section-skill div.skill-content div.skill-content__item.skill-right.slide-in {
    transform: translateX(0);
    opacity: 1;
  }
  body main section.section-skill div.skill-content div.skill-content__item div.img {
    width: 250px;
    height: 250px;
    margin: 0;
    background-color: gray;
  }
  body main section.section-skill div.skill-content div.skill-content__item div.skill-content__item__text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: calc(100% - 330px);
    padding: 40px 60px;
  }
}
body main section.section-contact {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
body main section.section-contact form {
  transition: all 1s;
}
body main section.section-contact form.hide {
  transform: translateY(200px);
}
body main section.section-contact form.hide.fade-up {
  transform: translateY(0);
  opacity: 1;
}
body main section.section-contact form label {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 25px 10px;
  border-top: solid 1px white;
  /*============================
  #message
  ============================*/
}
body main section.section-contact form label h3 {
  width: 400px;
  font-size: 24px;
}
body main section.section-contact form label input {
  display: block;
  width: 600px;
  height: 50px;
  background-color: white;
}
body main section.section-contact form label textarea#message {
  display: block;
  width: 600px;
  height: 200px;
  background-color: white;
}
body main section.section-contact form button {
  display: block;
  width: 80px;
  height: 40px;
  line-height: 40px;
  background-color: white;
  color: black;
  margin: 50px calc(50% - 40px) 60px;
}
body footer {
  width: 100%;
  height: 80px;
  color: black;
  background-color: white;
}
body footer p {
  text-align: center;
  padding: 20px 0;
}/*# sourceMappingURL=style.css.map */