// 変数の定義
$breakpoint-pc: 1024px;
$breakpoint-tab: 768px;
$breakpoint-spend: 767px;

// Mixinの定義
@mixin respond-to($device) {
	@if $device=='pc' {
		@media (min-width: $breakpoint-pc) {
			@content;
		}
	}

	@else if $device=='tab' {
		@media (min-width: $breakpoint-tab) and (max-width: ($breakpoint-pc - 1px)) {
			@content;
		}
	}

	@else if $device=='sp' {
		@media (min-width: 0) and (max-width: $breakpoint-spend) {
			@content;
		}
	}
}



//スキルカラーパレット
/* HTML */
.html {
	color: #e44d26;
}

.html-bc {
	background-color: #e44d26;
}

/* CSS */
.css {
	color: #264de4;
}

.css-bc {
	background-color: #264de4;
}

/* JavaScript */
.javascript {
	color: #f7df1e;
}

.javascript-bc {
	background-color: #f7df1e;
}

/* jQuery */
.jquery {
	color: #0769ad;
	/* 独自色: jQueryの公式カラー */
}

.jquery-bc {
	background-color: #0769ad;
}

/* PHP */
.php {
	color: #787cb4;
}

.php-bc {
	background-color: #787cb4;
}

/* Java */
.java {
	color: #5382a1;
	/* 独自色: Java公式カラーに基づく */
}

.java-bc {
	background-color: #5382a1;
}

/* Python */
.python {
	color: #306998;
	/* 独自色: Python公式カラー */
}

.python-bc {
	background-color: #306998;
}

/* React.js */
.reactjs {
	color: #61dafb;
}

.reactjs-bc {
	background-color: #61dafb;
}

/* Vue.js */
.vuejs {
	color: #42b883;
}

.vuejs-bc {
	background-color: #42b883;
}

/* WordPress */
.wordpress {
	color: #21759b;
}

.wordpress-bc {
	background-color: #21759b;
}

/* MySQL */
.mysql {
	color: #00758f;
}

.mysql-bc {
	background-color: #00758f;
}

/* Illustrator */
.illustrator {
	color: #ff9a00;
}

.illustrator-bc {
	background-color: #ff9a00;
}

/* Photoshop */
.photoshop {
	color: #31a8ff;
}

.photoshop-bc {
	background-color: #31a8ff;
}

/* Adobe XD */
.adobexd {
	color: #ff61f6;
}

.adobexd-bc {
	background-color: #ff61f6;
}

/* Figma */
.figma {
	color: #a259ff;
}

.figma-bc {
	background-color: #a259ff;
}

/* github */
.github {
	color: #181717;
	/* GitHubに対応する黒 */
}

.github-bc {
	background-color: #181717;
}

/* top-paddingはheaderの高さ分のpaddingを設けヘッダーの下に隠れて表示されることを防ぐ物です。span.top-paddingと併用し使用してください*/
div.top-pading {
	display: block;
	width: 100%;
	height: 80px;
}

body {
	color: #fff;
	font-family: sans-serif !important;
	overflow-x: hidden;

	//固定表示の見出し
	div.sections-text-fixed {

		div.sections-title {
			display: inline-block;
			margin: 20px;
		}

		p.sections-text {
			max-width: 700px;
			margin: 0 auto 20px;
			padding: 0 20px;
		}
	}
	div.sections-title {
		width: 100%;
		text-align: center;

		&.hide {
			transition: all .5s;
			transform: scale(0.5);
		}

		&.hide.scale-show {
			transform: scale(1);
			opacity: 1;
		}

		h2 {
			display: inline-block;
			margin: 20px;
		}
	}

	p.section-text {
		max-width: 700px;
		margin: 0 auto 20px;
		padding: 0 20px;
	}

	div#particles-js {
		position: fixed;
		width: 100vw;
		height: 100lvh;
		background-color: #0067C0;
		z-index: -1;
	}

	.img {
		position: relative;
		overflow: hidden;

		img {
			position: absolute;
			display: block;
			width: 100%;
			height: auto;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	.img_item {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.hide {
		opacity: 0;
	}

	div.sections-text-scale {
		transform: scale(0);
		opacity: 0;
		transition: all .8s;

		&.scale-show {
			transform: scale(1);
			opacity: 1;
		}
	}

	p.ip {
		text-align: center;
	}

	header {
		position: relative;
		width: 100%;
		height: auto;

		@include respond-to("sp") {
			height: auto;
		}

		overflow: hidden;

		div.menu-content {
			position: fixed;
			display: flex;
			justify-content: center;
			flex-wrap: nowrap;
			width: 100%;
			height: 80px;
			background-color: #ffffff;
			transition: all 1s;
			z-index: 100;

			&.hide {
				transform: translateY(-200px);
			}

			&.hide.fade-dawn {
				transform: translateY(0);
				opacity: 1;
			}

			div.img {
				position: fixed;
				top: 0;
				left: 0;
				width: 210px;
				height: 70px;
				margin: 5px;

			}

			@include respond-to("sp") {
				div.hamburger {
					position: fixed;
					right: 0;
					display: flex;
					flex-direction: column;
					justify-content: space-around;
					width: 35px;
					height: 30px;
					cursor: pointer;
					margin: 25px;

					span {
						display: block;
						width: 100%;
						height: 5px;
						background-color: #333;
						border-radius: 5px;
						transition: transform 0.3s, opacity 0.3s;

						&.open:nth-child(1) {
							transform: translateY(10px) rotate(45deg);
						}

						&.open:nth-child(2) {
							opacity: 0;
						}

						&.open:nth-child(3) {
							transform: translateY(-10px) rotate(-45deg);
						}
					}
				}

				nav.menu {
					position: fixed;
					width: 100%;
					height: calc(100lvh - 80px);
					transition: all .5s;
					margin-top: 80px;
					transform: translateX(100%);
					background-color: #ffff;

					&.open {
						transform: translateX(0);
					}

					ul {
						display: flex;
						justify-content: center;
						align-content: center;
						flex-wrap: wrap;
						width: 100%;
						height: 100%;
						color: #000000;

						li {
							width: 100%;
							text-align: center;
							height: 50px;
							line-height: 50px;

						}
					}
				}
			}

			@include respond-to("tab") {
				div.hamburger {
					position: fixed;
					right: 0;
					display: flex;
					flex-direction: column;
					justify-content: space-around;
					width: 35px;
					height: 30px;
					cursor: pointer;
					margin: 25px;

					span {
						display: block;
						width: 100%;
						height: 5px;
						background-color: #333;
						border-radius: 5px;
						transition: transform 0.3s, opacity 0.3s;

						&.open:nth-child(1) {
							transform: translateY(10px) rotate(45deg);
						}

						&.open:nth-child(2) {
							opacity: 0;
						}

						&.open:nth-child(3) {
							transform: translateY(-10px) rotate(-45deg);
						}
					}
				}

				nav.menu {
					position: fixed;
					width: 100%;
					height: calc(100lvh - 80px);
					transition: all .5s;
					margin-top: 80px;
					transform: translateX(100%);
					background-color: #ffff;

					&.open {
						transform: translateX(0);
					}


					ul {
						display: flex;
						justify-content: center;
						align-content: center;
						flex-wrap: wrap;
						width: 100%;
						height: 100%;
						color: #000000;

						li {
							width: 100%;
							text-align: center;
							height: 50px;
							line-height: 50px;

						}
					}
				}
			}

			@include respond-to("pc") {
				div.hamburger {
					display: none;
				}

				nav.menu {
					width: auto;
					height: 100%;
					transition: all .5s;

					ul {
						display: flex;
						justify-content: center;
						align-items: center;
						height: 100%;
						gap: 40px;
						color: #000000;

					}
				}
			}
		}

	}

	.hero {
		div.header-view {
			position: relative;
			width: 100%;
			height: auto;
			transition: all 1s;
			padding: 120px 0 50px;

			&.hide {
				opacity: 0;
				transform: translateY(200px);
			}

			&.hide.fade-up {
				opacity: 1;
				transform: translateY(0);
			}

			div.header-img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-image: url('../photos/sitecodding.jpg');
				background-attachment: fixed;
				background-size: cover;
				background-position: center center;
				z-index: -1;
			}

			div.content-profile {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;
				align-content: center;
				width: 100%;
				height: 100%;
				transition: all .5s;

				div.img {
					width: 300px;
					height: 300px;
					border-radius: 150px;
					background-color: #ffff;
				}

				div.content-profile_text {
					@include respond-to("pc") {
						padding-left: 100px;
					}

					text-align: center;

					h2,
					p {
						width: 80%;
						max-width: 500px;
						padding: 10px 0;
						margin: 0 auto;
					}

					ul {
						list-style: none;
						width: 80%;
						margin: 0 auto;

						li {
							text-align: left;
							margin: 10px 0;
						}
					}

					p {
						text-align: left;
					}

					a {
						display: block;
						width: 150px;
						height: 40px;
						line-height: 30px;
						border: solid 1px #ffffff;
						margin: 20px auto;
					}
				}

				div.SNS {
					width: 100%;

					ul {
						display: flex;
						align-items: center;
						align-content: center;
						justify-content: center;
						flex-wrap: nowrap;
						list-style: none;
						gap: 30px;
						padding-top: 50px;

						li {
							width: 100px;
							height: 100px;
							border-radius: 50px;
							background-color: #ffffff;
							padding: 25px;

							a {
								display: block;

								img {
									display: block;
									width: 100%;
									height: 100%;
								}
							}
						}
					}
				}
			}
		}
	}

	main {
		max-width: 1400px;
		width: 100%;
		margin: 0 auto;

		@include respond-to("sp") {
			padding: 10px 30px;
		}

		@include respond-to("tab") {
			padding: 0 100px 100px;
		}

		@include respond-to("pc") {
			padding: 0 100px 100px;
		}

		/*-----------------------------------------*
		|              page-tracking               |
		*-----------------------------------------*/
		div.page-tracking {
			padding: 30px 0 0;
		}

		/*-----------------------------------------*
		|              section-news                |
		*-----------------------------------------*/
		section.section-news {
			width: 100%;
			max-width: 1000px;
			margin: 0 auto;
			transition: all .5s;

			&.hide.fade-in {
				opacity: 1;
			}

			ul.news-list {
				li.news-list__item {
					width: 100%;
					list-style: none;
					border-top: solid 1px #fff;
					margin: 0;

					article {
						display: flex;
						flex-wrap: wrap;
						align-items: center;
						min-height: 60px;
						padding: 10px;

						time {
							margin: 0 10px;
						}

						span.category {
							display: inline-block;
							padding: 5px;
							margin: 0 10px;
							color: #000000;
							background-color: #ffff;
						}

						p {
							margin: 0 10px;
							display: inline-block;
						}
					}
				}
			}
		}

		/*-----------------------------------------*
		|              section-work                |
		*-----------------------------------------*/
		section.section-work {
			width: 100%;
			margin: 0 auto;
			padding: 0;

			div.work-content {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-around;
				width: 100%;
				gap: 50px;
				margin: 60px auto 0;

				div.work-content_item {
					width: 100%;
					max-width: 500px;

					@include respond-to("pc") {
						max-width: 350px;
					}

					height: auto;
					text-align: center;
					word-wrap: break-word;

					&.hide {
						transition: all 0.5s;
						transform: translateY(200px);
					}

					&.hide.fade-up {
						transform: translateY(0);
						opacity: 1;
					}

					div.img {
						width: 100%;
						aspect-ratio: 16/9;
						background-color: gray;
					}

					h3 {
						padding: 20px 40px 10px;
					}

					p {
						width: 100%;
						padding: 10px 40px 30px;
					}
				}
			}
		}

		/*-----------------------------------------*
		|              section-portfolio           |
		*-----------------------------------------*/
		section.section-portfolio {

			div.portofolio-content {
				width: 100%;
				margin: 50px auto 0;

				div.portofolio-content__item {
					width: 100%;
					max-width: 500px;
					text-align: center;
					background-color: rgba(255, 255, 255, 0.7);
					color: #000000;
					margin: 0 auto;
					padding-bottom: 20px;
					transition: all 1s;
					word-wrap: break-word;

					&.left,
					&.right {
						margin: 20px auto;
					}

					&.left {
						&.hide {
							transform: translateX(-100px);
						}

						&.hide.slide-left-in {
							transform: translateX(0);
							opacity: 1;
						}
					}

					&.right {
						&.hide {
							transform: translateX(100px);
						}

						&.hide.slide-right-in {
							transform: translateX(0);
							opacity: 1;
						}
					}

					@include respond-to('pc') {
						&.left {
							margin-left: 0;

							&.hide {
								transform: translateX(-100px);
							}

							&.hide.slide-left-in {
								transform: translateX(0);
								opacity: 1;
							}
						}

						&.right {
							margin-left: calc(100% - 500px);

							&.hide {
								transform: translateX(100px);
							}

							&.hide.slide-right-in {
								transform: translateX(0);
								opacity: 1;
							}
						}
					}

					@media screen and (min-width: 1280px) {
						&:not(:first-child) {
							margin-top: -15%;
						}
					}

					div.portofolio-img-slider {
						display: block;
						width: 100%;
						aspect-ratio: 16/10;

						// PCサイトを表示
						div.portofolio-img-pc {
							position: relative;
							width: 500px;
							aspect-ratio: 16/10;
							overflow: hidden;

							p.scroll {
								position: absolute;
								top: 50%;
								left: 86%;

								@include respond-to("sp") {
									left: 85%;
								}

								color: gray;
								display: inline-block;
								transform: translateY(-50%);
								z-index: 10;

								&::before,
								&::after {
									content: "";
									position: absolute;
									left: 50%;
									transform: translateX(-50%);
									font-size: 24px;
									color: gray;
									opacity: 0.7;
									pointer-events: none;
								}

								&::before {
									content: "▲";
									/* 上向き矢印 */
									top: -30px;
									animation: moveUpDown 1s infinite alternate;
								}

								&::after {
									content: "▼";
									/* 下向き矢印 */
									bottom: -20px;
									animation: moveUpDown 1s infinite alternate;
								}

								@keyframes moveUpDown {
									0% {
										transform: translate(-50%, 0);
									}

									100% {
										transform: translate(-50%, 10px);
									}
								}
							}

							img.portofolio-img-outer {
								position: absolute;
								width: 100%;
								top: 50%;
								left: 50%;
								display: block;
								transform: translate(-50%, -50%);
							}

							div.portofolio-img-content-outer {
								position: absolute;
								top: 10%;
								left: 20%;
								width: 60%;
								height: 67%;
								overflow: auto;
								-ms-overflow-style: none;
								/* IE と Edge用にスクロールバーを非表示にする */
								scrollbar-width: none;
								/* Firefox用にスクロールバーを非表示にする */

								&::-webkit-scrollbar {
									display: none;
									/* Webkitベースのブラウザでスクロールバーを非表示にする */
								}

								img.portofolio-img_inner {
									position: absolute;
									display: block;
									width: 100%;
									height: auto;
									z-index: -1;
								}
							}
						}

						// SPサイトを表示
						div.portofolio-img-sp {
							position: relative;
							width: 500px;
							aspect-ratio: 16/10;
							overflow: hidden;

							p.scroll {
								position: absolute;
								top: 50%;
								left: 71%;

								@include respond-to("sp") {
									left: 69%;
								}

								color: gray;
								display: inline-block;
								transform: translateY(-50%);
								z-index: 10;

								&::before,
								&::after {
									content: "";
									position: absolute;
									left: 50%;
									transform: translateX(-50%);
									font-size: 24px;
									color: gray;
									opacity: 0.7;
									pointer-events: none;
								}

								&::before {
									content: "▲";
									/* 上向き矢印 */
									top: -30px;
									animation: moveUpDown 1s infinite alternate;
								}

								&::after {
									content: "▼";
									/* 下向き矢印 */
									bottom: -20px;
									animation: moveUpDown 1s infinite alternate;
								}

								@keyframes moveUpDown {
									0% {
										transform: translate(-50%, 0);
									}

									100% {
										transform: translate(-50%, 10px);
									}
								}
							}

							img.portofolio-img-outer {
								position: absolute;
								width: 100%;
								top: 50%;
								left: 50%;
								display: block;
								transform: translate(-50%, -50%);
							}

							div.portofolio-img-content-outer {
								position: absolute;
								top: 1%;
								left: 36%;
								width: 28%;
								height: 98%;
								overflow: auto;
								-ms-overflow-style: none;
								/* IE と Edge用にスクロールバーを非表示にする */
								scrollbar-width: none;
								/* Firefox用にスクロールバーを非表示にする */

								&::-webkit-scrollbar {
									display: none;
									/* Webkitベースのブラウザでスクロールバーを非表示にする */
								}

								img.portofolio-img_inner {
									position: absolute;
									display: block;
									width: 100%;
									height: auto;
									z-index: -1;
								}
							}
						}
					}

					.portfolio_content_profile {
						display: flex;
						justify-content: center;
						align-items: center;
						align-content: center;

						img {
							display: inline-block;
							width: 1.2em;
							margin-right: 0.8em;
						}
					}

					.portfolio_content_use_skill {
						padding: 3px 0;

						span {
							display: inline-block;
							padding: 5px 10px;
							height: 26px;
							line-height: 16px;
							font-size: 16px;
							border-radius: 13px;
							color: #ffff;
							margin: 3px 6px;
						}
					}

					h3 {
						padding: 20px 40px 10px;
					}

					p.text {
						padding: 10px 40px 20px;
					}

					a {
						display: inline-block;
						width: 200px;
						height: 30px;
						margin: auto;
						border: solid 1px #000000;
					}
				}
			}
		}


		/*-----------------------------------------*
		|              section-skill               |
		*-----------------------------------------*/
		section.section-skill {
			div.skill-content {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				width: auto;
				gap: 45px;
				margin: 0 auto;

				div.skill-content__item {
					display: flex;
					flex-wrap: wrap;
					justify-content: center;
					align-content: center;
					width: 220px;

					@include respond-to("sp") {
						width: 140px;
					}

					aspect-ratio: 1/1;
					color: black;
					background-color: rgba(255, 255, 255, 0.7);
					border-radius: 150px;
					margin: 20px 0;
					transition: all 1s ease; // easeを追加
					overflow: hidden;

					// HTMLに対応するオレンジ色 
					&.html {
						border: solid 10px #E34F26; // オレンジ色

						@include respond-to("sp") {
							border: solid 5px #E34F26; // モバイルサイズではボーダーを小さく
						}
					}

					// CSSに対応する青色
					&.css {
						border: solid 10px #2965F1; // 青色

						@include respond-to("sp") {
							border: solid 5px #2965F1; // モバイルサイズではボーダーを小さく
						}
					}

					// JavaScriptに対応する黄色
					&.javascript {
						border: solid 10px #F7DF1E; // 黄色

						@include respond-to("sp") {
							border: solid 5px #F7DF1E; // モバイルサイズではボーダーを小さく
						}
					}

					// React.jsに対応する水色
					&.react {
						border: solid 10px #61DBFB; // 水色

						@include respond-to("sp") {
							border: solid 5px #61DBFB; // モバイルサイズではボーダーを小さく
						}
					}

					// PHPに対応するグレー系の青
					&.php {
						border: solid 10px #8993BE; // グレー系の青

						@include respond-to("sp") {
							border: solid 5px #8993BE; // モバイルサイズではボーダーを小さく
						}
					}

					// WordPressに対応する青系
					&.wordpress {
						border: solid 10px #21759B; // 青系

						@include respond-to("sp") {
							border: solid 5px #21759B; // モバイルサイズではボーダーを小さく
						}
					}

					// Photoshopに対応する青
					&.photoshop {
						border: solid 10px #31A8FF; // 青

						@include respond-to("sp") {
							border: solid 5px #31A8FF; // モバイルサイズではボーダーを小さく
						}
					}

					// Illustratorに対応するオレンジ
					&.illustrator {
						border: solid 10px #FF9A00; // オレンジ

						@include respond-to("sp") {
							border: solid 5px #FF9A00; // モバイルサイズではボーダーを小さく
						}
					}

					// MySQLに対応する青
					&.mysql {
						border: solid 10px #00758F; // 青

						@include respond-to("sp") {
							border: solid 5px #00758F; // モバイルサイズではボーダーを小さく
						}
					}

					// Adobe XDに対応するピンク
					&.adobexd {
						border: solid 10px #FF61F6; // ピンク

						@include respond-to("sp") {
							border: solid 5px #FF61F6; // モバイルサイズではボーダーを小さく
						}
					}

					// Figmaに対応する赤
					&.figma {
						border: solid 10px #F24E1E; // 赤

						@include respond-to("sp") {
							border: solid 5px #F24E1E; // モバイルサイズではボーダーを小さく
						}
					}

					// GitHubに対応する黒
					&.github {
						border: solid 10px #181717; // 黒

						@include respond-to("sp") {
							border: solid 5px #181717; // モバイルサイズではボーダーを小さく
						}
					}

					&.skill-fade-up {
						transform: translateY(200px);
					}

					&.skill-fade-up.fade-in {
						transform: translateY(0);
						opacity: 1;
					}

					div.img {
						width: 100px;

						@include respond-to("sp") {
							width: 60px;
						}

						aspect-ratio: 1/1;
						margin: 10px auto 0;

						img {
							display: block;
							width: 100%;
							height: auto;
						}
					}

					div.skill-content__item__text {
						display: flex;
						flex-wrap: wrap;
						justify-content: center;
						align-content: center;
						width: 100%;
						overflow: hidden;
						margin: 10px auto;

						h3 {
							width: 100%;
							font-size: 18px;
							height: 18px;
							line-height: 18px;

							@include respond-to("sp") {
								font-size: 14px;
								height: 14px;
								line-height: 14px;
							}

							text-align: center;
						}

						div.img-star {
							width: 100px;
							margin: 15px 0;

							@include respond-to("sp") {
								width: 60px;
								margin: 10px 0;
							}

							img {
								display: block;
								width: 100%;
								height: auto;
							}
						}
					}
				}
			}
		}


		/*-----------------------------------------*
		|              section-contact             |
		*-----------------------------------------*/
		section.section-contact {
			max-width: 1200px;
			width: 100%;
			margin: 0 auto;

			form {
				transition: all 1s ease; // スムーズにするためにeaseを追加

				&.hide {
					transform: translateY(200px);
				}

				&.hide.fade-up {
					transform: translateY(0);
					opacity: 1;
				}

				label {
					display: flex;
					flex-wrap: wrap;
					justify-content: center;
					align-items: center;
					width: 100%;
					padding: 25px 10px;
					border-top: solid 1px #ffffff; // 修正

					h3 {
						width: 100%; // 可変にする
						max-width: 400px;
						font-size: 24px;

						@include respond-to("sp") {
							padding-bottom: 20px;
						}

						@include respond-to("tab") {
							padding-bottom: 20px;
						}
					}

					input,
					textarea {
						display: block;
						width: 100%; // 可変にする
						max-width: 400px; // 最大幅を指定
						background-color: #ffffff;
					}

					input {
						height: 40px;
					}

					textarea {
						height: 200px;
					}
				}

				button {
					display: block;
					width: 80px;
					height: 40px;
					line-height: 40px;
					background-color: #ffffff;
					color: black;
					margin: 50px auto 60px; // autoで中央揃え
				}
			}
		}


		/*-----------------------------------------*
		|              page-confirm.php            |
		*-----------------------------------------*/
		section.confirm {
			max-width: 1200px;
			width: 100%;
			margin: 0 auto;
			padding-bottom: 60px;

			div.confirm {
				div.confirm-content {
					display: flex;
					justify-content: center;
					width: 100%;
					border-top: solid 1px #ffffff; // 修正

					h3 {
						width: 100%; // 可変に
						max-width: 400px;
						font-size: 24px;
					}

					p {
						width: 100%; // 可変に
						max-width: 600px;
						height: auto; // 高さ自動調整
						line-height: 50px;
						text-align: left;
					}
				}
			}

			p.section-text {
				text-align: center;
			}

			div.button-area {
				position: relative;
				width: 100%;
				text-align: center;

				a {
					position: absolute;
					left: 50%;
					display: block;
					width: auto;
					height: 40px;
					font-size: 20px;
					line-height: 40px; // 高さに合わせて調整
					background-color: #ffffff; // 背景色の修正
					padding: 10px;
					color: black;
					margin: 50px 0 0;
					transform: translateX(-50%);
				}
			}
		}

		/*-----------------------------------------*
		|              page-semd.php               |
		*-----------------------------------------*/
		section.semdmail {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			width: 100%;
			height: auto;
			padding: 25px 10px;
			border-top: solid 1px #ffff;

			div.semdmail {
				p {
					text-align: center;
					padding-top: 30px;
				}
			}

			div.button-area {
				position: relative;
				width: 100%;
				text-align: center;

				a {
					position: absolute;
					left: 50%;
					display: block;
					width: auto;
					height: 40px;
					font-size: 20px;
					line-height: 20px;
					background-color: #ffff;
					padding: 10px;
					color: black;
					margin: 50px 0 60px;
					transform: translateX(-50%);
				}
			}
		}

		/*-----------------------------------------*
		|              section-hero                |
		*-----------------------------------------*/
		section.about {
			display: flex;
			flex-wrap: nowrap;
			justify-content: center;
			align-items: center;
			align-content: center;
			position: relative;
			width: 100%;

			div.hero-profile {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;
				align-content: center;
				width: 300px;

				div.img {
					width: 200px;
					aspect-ratio: 1/1;
					background-color: gray;
					border-radius: 50%;
					border: solid 25px yellow;
					box-sizing: border-box;

					img.hero-profile_img {}
				}

				ul {
					padding-top: 30px;
					padding-left: 0;
					list-style: none;

					li {
						font-size: 1.2em;

						ruby {

							font-weight: bold;

							rt {
								font-size: 50%;
							}
						}
					}
				}
			}

			div.hero-text {
				width: 60%;
				padding: 50px 100px;
				background-color: rgba(255, 255, 255, 0.7);
				z-index: -1;

				p {
					color: #000000;
				}
			}
		}

		section.background {
			padding-top: 60px;

			table {
				border-collapse: collapse; // セルのボーダーを重ねる
				width: 100%;
				max-width: 800px;
				margin: 0 auto;
				font-family: Arial, sans-serif;
				font-size: 1.0em;

				thead {

					th {
						padding: 10px;
						border: 1px solid #ccc;
						text-align: left;
						font-weight: bold;
					}
				}

				tbody {

					td {
						padding: 10px;
						border: 1px solid #ccc;
						text-align: left;
					}
				}
			}
		}
	}

	footer {
		width: 100%;
		height: 80px;
		color: black;
		background-color: #ffff;

		p {
			text-align: center;
			padding: 20px 0;
		}
	}
}