@charset "UTF-8";
/* HTML */
.html {
  color: #e44d26;
}

.html-bc {
  background-color: #e44d26;
}

/* CSS */
.css {
  color: #264de4;
}

.css-bc {
  background-color: #264de4;
}

/* JavaScript */
.javascript {
  color: #f7df1e;
}

.javascript-bc {
  background-color: #f7df1e;
}

/* jQuery */
.jquery {
  color: #0769ad;
  /* 独自色: jQueryの公式カラー */
}

.jquery-bc {
  background-color: #0769ad;
}

/* PHP */
.php {
  color: #787cb4;
}

.php-bc {
  background-color: #787cb4;
}

/* Java */
.java {
  color: #5382a1;
  /* 独自色: Java公式カラーに基づく */
}

.java-bc {
  background-color: #5382a1;
}

/* Python */
.python {
  color: #306998;
  /* 独自色: Python公式カラー */
}

.python-bc {
  background-color: #306998;
}

/* React.js */
.reactjs {
  color: #61dafb;
}

.reactjs-bc {
  background-color: #61dafb;
}

/* Vue.js */
.vuejs {
  color: #42b883;
}

.vuejs-bc {
  background-color: #42b883;
}

/* WordPress */
.wordpress {
  color: #21759b;
}

.wordpress-bc {
  background-color: #21759b;
}

/* MySQL */
.mysql {
  color: #00758f;
}

.mysql-bc {
  background-color: #00758f;
}

/* Illustrator */
.illustrator {
  color: #ff9a00;
}

.illustrator-bc {
  background-color: #ff9a00;
}

/* Photoshop */
.photoshop {
  color: #31a8ff;
}

.photoshop-bc {
  background-color: #31a8ff;
}

/* Adobe XD */
.adobexd {
  color: #ff61f6;
}

.adobexd-bc {
  background-color: #ff61f6;
}

/* Figma */
.figma {
  color: #a259ff;
}

.figma-bc {
  background-color: #a259ff;
}

/* github */
.github {
  color: #181717;
  /* GitHubに対応する黒 */
}

.github-bc {
  background-color: #181717;
}

/* top-paddingはheaderの高さ分のpaddingを設けヘッダーの下に隠れて表示されることを防ぐ物です。span.top-paddingと併用し使用してください*/
div.top-pading {
  display: block;
  width: 100%;
  height: 80px;
}

body {
  color: #fff;
  font-family: sans-serif !important;
  overflow-x: hidden;
}
body div.sections-text-fixed div.sections-title {
  display: inline-block;
  font-size: 1.4em;
  margin: 20px;
}
body div.sections-text-fixed p.sections-text {
  max-width: 700px;
  margin: 0 auto 20px;
  padding: 0 20px;
}
body div.sections-title {
  width: 100%;
  text-align: center;
}
body div.sections-title.hide {
  transition: all 0.5s;
  transform: scale(0.5);
}
body div.sections-title.hide.scale-show {
  transform: scale(1);
  opacity: 1;
}
body div.sections-title h2 {
  display: inline-block;
  font-size: 2em;
  margin: 20px;
}
body p.section-text {
  max-width: 700px;
  margin: 0 auto 20px;
  padding: 0 20px;
}
body div#particles-js {
  position: fixed;
  width: 100vw;
  height: 100lvh;
  background-color: #0067C0;
  z-index: -1;
}
body .img {
  position: relative;
  overflow: hidden;
}
body .img img {
  position: absolute;
  display: block;
  width: 100%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body .img_item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body .hide {
  opacity: 0;
}
body div.sections-text-scale {
  transform: scale(0);
  opacity: 0;
  transition: all 0.8s;
}
body div.sections-text-scale.scale-show {
  transform: scale(1);
  opacity: 1;
}
body p.ip {
  text-align: center;
}
body header {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}
@media (min-width: 0) and (max-width: 767px) {
  body header {
    height: auto;
  }
}
body header div.menu-content {
  position: fixed;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  transition: all 1s;
  z-index: 100;
}
body header div.menu-content.hide {
  transform: translateY(-200px);
}
body header div.menu-content.hide.fade-dawn {
  transform: translateY(0);
  opacity: 1;
}
body header div.menu-content div.img {
  position: fixed;
  top: 0;
  left: 0;
  width: 210px;
  height: 70px;
  margin: 5px;
}
@media (min-width: 0) and (max-width: 767px) {
  body header div.menu-content div.hamburger {
    position: fixed;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 35px;
    height: 30px;
    cursor: pointer;
    margin: 25px;
  }
  body header div.menu-content div.hamburger span {
    display: block;
    width: 100%;
    height: 5px;
    background-color: #333;
    border-radius: 5px;
    transition: transform 0.3s, opacity 0.3s;
  }
  body header div.menu-content div.hamburger span.open:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }
  body header div.menu-content div.hamburger span.open:nth-child(2) {
    opacity: 0;
  }
  body header div.menu-content div.hamburger span.open:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }
  body header div.menu-content nav.menu {
    position: fixed;
    width: 100%;
    height: calc(100lvh - 80px);
    transition: all 0.5s;
    margin-top: 80px;
    transform: translateX(100%);
    background-color: white;
  }
  body header div.menu-content nav.menu.open {
    transform: translateX(0);
  }
  body header div.menu-content nav.menu ul {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    color: #000000;
  }
  body header div.menu-content nav.menu ul li {
    width: 100%;
    text-align: center;
    height: 50px;
    line-height: 50px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  body header div.menu-content div.hamburger {
    position: fixed;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 35px;
    height: 30px;
    cursor: pointer;
    margin: 25px;
  }
  body header div.menu-content div.hamburger span {
    display: block;
    width: 100%;
    height: 5px;
    background-color: #333;
    border-radius: 5px;
    transition: transform 0.3s, opacity 0.3s;
  }
  body header div.menu-content div.hamburger span.open:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }
  body header div.menu-content div.hamburger span.open:nth-child(2) {
    opacity: 0;
  }
  body header div.menu-content div.hamburger span.open:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }
  body header div.menu-content nav.menu {
    position: fixed;
    width: 100%;
    height: calc(100lvh - 80px);
    transition: all 0.5s;
    margin-top: 80px;
    transform: translateX(100%);
    background-color: white;
  }
  body header div.menu-content nav.menu.open {
    transform: translateX(0);
  }
  body header div.menu-content nav.menu ul {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    color: #000000;
  }
  body header div.menu-content nav.menu ul li {
    width: 100%;
    text-align: center;
    height: 50px;
    line-height: 50px;
  }
}
@media (min-width: 1024px) {
  body header div.menu-content div.hamburger {
    display: none;
  }
  body header div.menu-content nav.menu {
    width: auto;
    height: 100%;
    transition: all 0.5s;
  }
  body header div.menu-content nav.menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 40px;
    color: #000000;
  }
}
body .hero div.header-view {
  position: relative;
  width: 100%;
  height: auto;
  transition: all 1s;
  padding: 120px 0 50px;
}
body .hero div.header-view.hide {
  opacity: 0;
  transform: translateY(200px);
}
body .hero div.header-view.hide.fade-up {
  opacity: 1;
  transform: translateY(0);
}
body .hero div.header-view div.header-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../photos/sitecodding.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  z-index: -1;
}
body .hero div.header-view div.content-profile {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}
body .hero div.header-view div.content-profile div.img {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  background-color: white;
}
body .hero div.header-view div.content-profile div.content-profile_text {
  text-align: center;
}
@media (min-width: 1024px) {
  body .hero div.header-view div.content-profile div.content-profile_text {
    padding-left: 100px;
  }
}
body .hero div.header-view div.content-profile div.content-profile_text h2,
body .hero div.header-view div.content-profile div.content-profile_text p {
  width: 80%;
  max-width: 500px;
  padding: 10px 0;
  margin: 0 auto;
}
body .hero div.header-view div.content-profile div.content-profile_text ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}
body .hero div.header-view div.content-profile div.content-profile_text ul li {
  text-align: left;
  margin: 10px 0;
}
body .hero div.header-view div.content-profile div.content-profile_text p {
  text-align: left;
}
body .hero div.header-view div.content-profile div.content-profile_text a {
  display: block;
  width: 150px;
  height: 40px;
  line-height: 30px;
  border: solid 1px #ffffff;
  margin: 20px auto;
}
body .hero div.header-view div.content-profile div.SNS {
  width: 100%;
}
body .hero div.header-view div.content-profile div.SNS ul {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: nowrap;
  list-style: none;
  gap: 30px;
  padding-top: 50px;
}
body .hero div.header-view div.content-profile div.SNS ul li {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: #ffffff;
  padding: 25px;
}
body .hero div.header-view div.content-profile div.SNS ul li a {
  display: block;
}
body .hero div.header-view div.content-profile div.SNS ul li a img {
  display: block;
  width: 100%;
  height: 100%;
}
body main {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  /*-----------------------------------------*
  |              page-tracking               |
  *-----------------------------------------*/
  /*-----------------------------------------*
  |              section-news                |
  *-----------------------------------------*/
  /*-----------------------------------------*
  |              section-work                |
  *-----------------------------------------*/
  /*-----------------------------------------*
  |              section-portfolio           |
  *-----------------------------------------*/
  /*-----------------------------------------*
  |              section-skill               |
  *-----------------------------------------*/
  /*-----------------------------------------*
  |              section-contact             |
  *-----------------------------------------*/
  /*-----------------------------------------*
  |              page-confirm.php            |
  *-----------------------------------------*/
  /*-----------------------------------------*
  |              page-semd.php               |
  *-----------------------------------------*/
  /*-----------------------------------------*
  |              section-hero                |
  *-----------------------------------------*/
}
@media (min-width: 0) and (max-width: 767px) {
  body main {
    padding: 10px 30px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  body main {
    padding: 0 100px 100px;
  }
}
@media (min-width: 1024px) {
  body main {
    padding: 0 100px 100px;
  }
}
body main div.page-tracking {
  padding: 30px 0 0;
}
body main section.section-news {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  transition: all 0.5s;
}
body main section.section-news.hide.fade-in {
  opacity: 1;
}
body main section.section-news ul.news-list li.news-list__item {
  width: 100%;
  list-style: none;
  border-top: solid 1px #fff;
  margin: 0;
}
body main section.section-news ul.news-list li.news-list__item article {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 60px;
  padding: 10px;
}
body main section.section-news ul.news-list li.news-list__item article time {
  margin: 0 10px;
}
body main section.section-news ul.news-list li.news-list__item article span.category {
  display: inline-block;
  padding: 5px;
  margin: 0 10px;
  color: #000000;
  background-color: white;
}
body main section.section-news ul.news-list li.news-list__item article p {
  margin: 0 10px;
  display: inline-block;
}
body main section.section-work {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
body main section.section-work div.work-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  gap: 50px;
  margin: 60px auto 0;
}
body main section.section-work div.work-content div.work-content_item {
  width: 100%;
  max-width: 500px;
  height: auto;
  text-align: center;
  word-wrap: break-word;
}
@media (min-width: 1024px) {
  body main section.section-work div.work-content div.work-content_item {
    max-width: 350px;
  }
}
body main section.section-work div.work-content div.work-content_item.hide {
  transition: all 0.5s;
  transform: translateY(200px);
}
body main section.section-work div.work-content div.work-content_item.hide.fade-up {
  transform: translateY(0);
  opacity: 1;
}
body main section.section-work div.work-content div.work-content_item div.img {
  width: 100%;
  aspect-ratio: 16/9;
  background-color: gray;
}
body main section.section-work div.work-content div.work-content_item h3 {
  padding: 20px 40px 10px;
}
body main section.section-work div.work-content div.work-content_item p {
  width: 100%;
  padding: 10px 40px 30px;
}
body main section.section-portfolio div.portofolio-content {
  width: 100%;
  margin: 50px auto 0;
}
body main section.section-portfolio div.portofolio-content div.portofolio-content__item {
  width: 100%;
  max-width: 500px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
  color: #000000;
  margin: 0 auto;
  padding-bottom: 20px;
  transition: all 1s;
  word-wrap: break-word;
}
body main section.section-portfolio div.portofolio-content div.portofolio-content__item.left, body main section.section-portfolio div.portofolio-content div.portofolio-content__item.right {
  margin: 20px auto;
}
body main section.section-portfolio div.portofolio-content div.portofolio-content__item.left.hide {
  transform: translateX(-100px);
}
body main section.section-portfolio div.portofolio-content div.portofolio-content__item.left.hide.slide-left-in {
  transform: translateX(0);
  opacity: 1;
}
body main section.section-portfolio div.portofolio-content div.portofolio-content__item.right.hide {
  transform: translateX(100px);
}
body main section.section-portfolio div.portofolio-content div.portofolio-content__item.right.hide.slide-right-in {
  transform: translateX(0);
  opacity: 1;
}
@media (min-width: 1024px) {
  body main section.section-portfolio div.portofolio-content div.portofolio-content__item.left {
    margin-left: 0;
  }
  body main section.section-portfolio div.portofolio-content div.portofolio-content__item.left.hide {
    transform: translateX(-100px);
  }
  body main section.section-portfolio div.portofolio-content div.portofolio-content__item.left.hide.slide-left-in {
    transform: translateX(0);
    opacity: 1;
  }
  body main section.section-portfolio div.portofolio-content div.portofolio-content__item.right {
    margin-left: calc(100% - 500px);
  }
  body main section.section-portfolio div.portofolio-content div.portofolio-content__item.right.hide {
    transform: translateX(100px);
  }
  body main section.section-portfolio div.portofolio-content div.portofolio-content__item.right.hide.slide-right-in {
    transform: translateX(0);
    opacity: 1;
  }
}
@media screen and (min-width: 1280px) {
  body main section.section-portfolio div.portofolio-content div.portofolio-content__item:not(:first-child) {
    margin-top: -15%;
  }
}
body main section.section-portfolio div.portofolio-content div.portofolio-content__item div.portofolio-img-slider {
  display: block;
  width: 100%;
  aspect-ratio: 16/10;
}
body main section.section-portfolio div.portofolio-content div.portofolio-content__item div.portofolio-img-slider div.portofolio-img-pc {
  position: relative;
  width: 500px;
  aspect-ratio: 16/10;
  overflow: hidden;
}
body main section.section-portfolio div.portofolio-content div.portofolio-content__item div.portofolio-img-slider div.portofolio-img-pc p.scroll {
  position: absolute;
  top: 50%;
  left: 86%;
  color: gray;
  display: inline-block;
  transform: translateY(-50%);
  z-index: 10;
}
@media (min-width: 0) and (max-width: 767px) {
  body main section.section-portfolio div.portofolio-content div.portofolio-content__item div.portofolio-img-slider div.portofolio-img-pc p.scroll {
    left: 85%;
  }
}
body main section.section-portfolio div.portofolio-content div.portofolio-content__item div.portofolio-img-slider div.portofolio-img-pc p.scroll::before, body main section.section-portfolio div.portofolio-content div.portofolio-content__item div.portofolio-img-slider div.portofolio-img-pc p.scroll::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  color: gray;
  opacity: 0.7;
  pointer-events: none;
}
body main section.section-portfolio div.portofolio-content div.portofolio-content__item div.portofolio-img-slider div.portofolio-img-pc p.scroll::before {
  content: "▲";
  /* 上向き矢印 */
  top: -30px;
  animation: moveUpDown 1s infinite alternate;
}
body main section.section-portfolio div.portofolio-content div.portofolio-content__item div.portofolio-img-slider div.portofolio-img-pc p.scroll::after {
  content: "▼";
  /* 下向き矢印 */
  bottom: -20px;
  animation: moveUpDown 1s infinite alternate;
}
@keyframes moveUpDown {
  0% {
    transform: translate(-50%, 0);
  }
  100% {
    transform: translate(-50%, 10px);
  }
}
body main section.section-portfolio div.portofolio-content div.portofolio-content__item div.portofolio-img-slider div.portofolio-img-pc img.portofolio-img-outer {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  display: block;
  transform: translate(-50%, -50%);
}
body main section.section-portfolio div.portofolio-content div.portofolio-content__item div.portofolio-img-slider div.portofolio-img-pc div.portofolio-img-content-outer {
  position: absolute;
  top: 10%;
  left: 20%;
  width: 60%;
  height: 67%;
  overflow: auto;
  -ms-overflow-style: none;
  /* IE と Edge用にスクロールバーを非表示にする */
  scrollbar-width: none;
  /* Firefox用にスクロールバーを非表示にする */
}
body main section.section-portfolio div.portofolio-content div.portofolio-content__item div.portofolio-img-slider div.portofolio-img-pc div.portofolio-img-content-outer::-webkit-scrollbar {
  display: none;
  /* Webkitベースのブラウザでスクロールバーを非表示にする */
}
body main section.section-portfolio div.portofolio-content div.portofolio-content__item div.portofolio-img-slider div.portofolio-img-pc div.portofolio-img-content-outer img.portofolio-img_inner {
  position: absolute;
  display: block;
  width: 100%;
  height: auto;
  z-index: -1;
}
body main section.section-portfolio div.portofolio-content div.portofolio-content__item div.portofolio-img-slider div.portofolio-img-sp {
  position: relative;
  width: 500px;
  aspect-ratio: 16/10;
  overflow: hidden;
}
body main section.section-portfolio div.portofolio-content div.portofolio-content__item div.portofolio-img-slider div.portofolio-img-sp p.scroll {
  position: absolute;
  top: 50%;
  left: 71%;
  color: gray;
  display: inline-block;
  transform: translateY(-50%);
  z-index: 10;
}
@media (min-width: 0) and (max-width: 767px) {
  body main section.section-portfolio div.portofolio-content div.portofolio-content__item div.portofolio-img-slider div.portofolio-img-sp p.scroll {
    left: 69%;
  }
}
body main section.section-portfolio div.portofolio-content div.portofolio-content__item div.portofolio-img-slider div.portofolio-img-sp p.scroll::before, body main section.section-portfolio div.portofolio-content div.portofolio-content__item div.portofolio-img-slider div.portofolio-img-sp p.scroll::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  color: gray;
  opacity: 0.7;
  pointer-events: none;
}
body main section.section-portfolio div.portofolio-content div.portofolio-content__item div.portofolio-img-slider div.portofolio-img-sp p.scroll::before {
  content: "▲";
  /* 上向き矢印 */
  top: -30px;
  animation: moveUpDown 1s infinite alternate;
}
body main section.section-portfolio div.portofolio-content div.portofolio-content__item div.portofolio-img-slider div.portofolio-img-sp p.scroll::after {
  content: "▼";
  /* 下向き矢印 */
  bottom: -20px;
  animation: moveUpDown 1s infinite alternate;
}
@keyframes moveUpDown {
  0% {
    transform: translate(-50%, 0);
  }
  100% {
    transform: translate(-50%, 10px);
  }
}
body main section.section-portfolio div.portofolio-content div.portofolio-content__item div.portofolio-img-slider div.portofolio-img-sp img.portofolio-img-outer {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  display: block;
  transform: translate(-50%, -50%);
}
body main section.section-portfolio div.portofolio-content div.portofolio-content__item div.portofolio-img-slider div.portofolio-img-sp div.portofolio-img-content-outer {
  position: absolute;
  top: 1%;
  left: 36%;
  width: 28%;
  height: 98%;
  overflow: auto;
  -ms-overflow-style: none;
  /* IE と Edge用にスクロールバーを非表示にする */
  scrollbar-width: none;
  /* Firefox用にスクロールバーを非表示にする */
}
body main section.section-portfolio div.portofolio-content div.portofolio-content__item div.portofolio-img-slider div.portofolio-img-sp div.portofolio-img-content-outer::-webkit-scrollbar {
  display: none;
  /* Webkitベースのブラウザでスクロールバーを非表示にする */
}
body main section.section-portfolio div.portofolio-content div.portofolio-content__item div.portofolio-img-slider div.portofolio-img-sp div.portofolio-img-content-outer img.portofolio-img_inner {
  position: absolute;
  display: block;
  width: 100%;
  height: auto;
  z-index: -1;
}
body main section.section-portfolio div.portofolio-content div.portofolio-content__item .portfolio_content_profile {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
body main section.section-portfolio div.portofolio-content div.portofolio-content__item .portfolio_content_profile img {
  display: inline-block;
  width: 1.2em;
  margin-right: 0.8em;
}
body main section.section-portfolio div.portofolio-content div.portofolio-content__item .portfolio_content_use_skill {
  padding: 3px 0;
}
body main section.section-portfolio div.portofolio-content div.portofolio-content__item .portfolio_content_use_skill span {
  display: inline-block;
  padding: 5px 10px;
  height: 26px;
  line-height: 16px;
  font-size: 16px;
  border-radius: 13px;
  color: white;
  margin: 3px 6px;
}
body main section.section-portfolio div.portofolio-content div.portofolio-content__item h3 {
  padding: 20px 40px 10px;
}
body main section.section-portfolio div.portofolio-content div.portofolio-content__item p.text {
  padding: 10px 40px 20px;
}
body main section.section-portfolio div.portofolio-content div.portofolio-content__item a {
  display: inline-block;
  width: 200px;
  height: 30px;
  margin: auto;
  border: solid 1px #000000;
}
body main section.section-skill div.skill-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: auto;
  gap: 45px;
  margin: 0 auto;
}
body main section.section-skill div.skill-content div.skill-content__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 220px;
  aspect-ratio: 1/1;
  color: black;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 150px;
  margin: 20px 0;
  transition: all 1s ease;
  overflow: hidden;
}
@media (min-width: 0) and (max-width: 767px) {
  body main section.section-skill div.skill-content div.skill-content__item {
    width: 140px;
  }
}
body main section.section-skill div.skill-content div.skill-content__item.html {
  border: solid 10px #E34F26;
}
@media (min-width: 0) and (max-width: 767px) {
  body main section.section-skill div.skill-content div.skill-content__item.html {
    border: solid 5px #E34F26;
  }
}
body main section.section-skill div.skill-content div.skill-content__item.css {
  border: solid 10px #2965F1;
}
@media (min-width: 0) and (max-width: 767px) {
  body main section.section-skill div.skill-content div.skill-content__item.css {
    border: solid 5px #2965F1;
  }
}
body main section.section-skill div.skill-content div.skill-content__item.javascript {
  border: solid 10px #F7DF1E;
}
@media (min-width: 0) and (max-width: 767px) {
  body main section.section-skill div.skill-content div.skill-content__item.javascript {
    border: solid 5px #F7DF1E;
  }
}
body main section.section-skill div.skill-content div.skill-content__item.react {
  border: solid 10px #61DBFB;
}
@media (min-width: 0) and (max-width: 767px) {
  body main section.section-skill div.skill-content div.skill-content__item.react {
    border: solid 5px #61DBFB;
  }
}
body main section.section-skill div.skill-content div.skill-content__item.php {
  border: solid 10px #8993BE;
}
@media (min-width: 0) and (max-width: 767px) {
  body main section.section-skill div.skill-content div.skill-content__item.php {
    border: solid 5px #8993BE;
  }
}
body main section.section-skill div.skill-content div.skill-content__item.wordpress {
  border: solid 10px #21759B;
}
@media (min-width: 0) and (max-width: 767px) {
  body main section.section-skill div.skill-content div.skill-content__item.wordpress {
    border: solid 5px #21759B;
  }
}
body main section.section-skill div.skill-content div.skill-content__item.photoshop {
  border: solid 10px #31A8FF;
}
@media (min-width: 0) and (max-width: 767px) {
  body main section.section-skill div.skill-content div.skill-content__item.photoshop {
    border: solid 5px #31A8FF;
  }
}
body main section.section-skill div.skill-content div.skill-content__item.illustrator {
  border: solid 10px #FF9A00;
}
@media (min-width: 0) and (max-width: 767px) {
  body main section.section-skill div.skill-content div.skill-content__item.illustrator {
    border: solid 5px #FF9A00;
  }
}
body main section.section-skill div.skill-content div.skill-content__item.mysql {
  border: solid 10px #00758F;
}
@media (min-width: 0) and (max-width: 767px) {
  body main section.section-skill div.skill-content div.skill-content__item.mysql {
    border: solid 5px #00758F;
  }
}
body main section.section-skill div.skill-content div.skill-content__item.adobexd {
  border: solid 10px #FF61F6;
}
@media (min-width: 0) and (max-width: 767px) {
  body main section.section-skill div.skill-content div.skill-content__item.adobexd {
    border: solid 5px #FF61F6;
  }
}
body main section.section-skill div.skill-content div.skill-content__item.figma {
  border: solid 10px #F24E1E;
}
@media (min-width: 0) and (max-width: 767px) {
  body main section.section-skill div.skill-content div.skill-content__item.figma {
    border: solid 5px #F24E1E;
  }
}
body main section.section-skill div.skill-content div.skill-content__item.github {
  border: solid 10px #181717;
}
@media (min-width: 0) and (max-width: 767px) {
  body main section.section-skill div.skill-content div.skill-content__item.github {
    border: solid 5px #181717;
  }
}
body main section.section-skill div.skill-content div.skill-content__item.skill-fade-up {
  transform: translateY(200px);
}
body main section.section-skill div.skill-content div.skill-content__item.skill-fade-up.fade-in {
  transform: translateY(0);
  opacity: 1;
}
body main section.section-skill div.skill-content div.skill-content__item div.img {
  width: 100px;
  aspect-ratio: 1/1;
  margin: 10px auto 0;
}
@media (min-width: 0) and (max-width: 767px) {
  body main section.section-skill div.skill-content div.skill-content__item div.img {
    width: 60px;
  }
}
body main section.section-skill div.skill-content div.skill-content__item div.img img {
  display: block;
  width: 100%;
  height: auto;
}
body main section.section-skill div.skill-content div.skill-content__item div.skill-content__item__text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 100%;
  overflow: hidden;
  margin: 10px auto;
}
body main section.section-skill div.skill-content div.skill-content__item div.skill-content__item__text h3 {
  width: 100%;
  font-size: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
}
@media (min-width: 0) and (max-width: 767px) {
  body main section.section-skill div.skill-content div.skill-content__item div.skill-content__item__text h3 {
    font-size: 14px;
    height: 14px;
    line-height: 14px;
  }
}
body main section.section-skill div.skill-content div.skill-content__item div.skill-content__item__text div.img-star {
  width: 100px;
  margin: 15px 0;
}
@media (min-width: 0) and (max-width: 767px) {
  body main section.section-skill div.skill-content div.skill-content__item div.skill-content__item__text div.img-star {
    width: 60px;
    margin: 10px 0;
  }
}
body main section.section-skill div.skill-content div.skill-content__item div.skill-content__item__text div.img-star img {
  display: block;
  width: 100%;
  height: auto;
}
body main section.section-contact {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
body main section.section-contact form {
  transition: all 1s ease;
}
body main section.section-contact form.hide {
  transform: translateY(200px);
}
body main section.section-contact form.hide.fade-up {
  transform: translateY(0);
  opacity: 1;
}
body main section.section-contact form label {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 25px 10px;
  border-top: solid 1px #ffffff;
}
body main section.section-contact form label h3 {
  width: 100%;
  max-width: 400px;
  font-size: 24px;
}
@media (min-width: 0) and (max-width: 767px) {
  body main section.section-contact form label h3 {
    padding-bottom: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  body main section.section-contact form label h3 {
    padding-bottom: 20px;
  }
}
body main section.section-contact form label input,
body main section.section-contact form label textarea {
  display: block;
  width: 100%;
  max-width: 400px;
  background-color: #ffffff;
}
body main section.section-contact form label input {
  height: 40px;
}
body main section.section-contact form label textarea {
  height: 200px;
}
body main section.section-contact form button {
  display: block;
  width: 80px;
  height: 40px;
  line-height: 40px;
  background-color: #ffffff;
  color: black;
  margin: 50px auto 60px;
}
body main section.confirm {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 60px;
}
body main section.confirm div.confirm div.confirm-content {
  display: flex;
  justify-content: center;
  width: 100%;
  border-top: solid 1px #ffffff;
}
body main section.confirm div.confirm div.confirm-content h3 {
  width: 100%;
  max-width: 400px;
  font-size: 24px;
}
body main section.confirm div.confirm div.confirm-content p {
  width: 100%;
  max-width: 600px;
  height: auto;
  line-height: 50px;
  text-align: left;
}
body main section.confirm p.section-text {
  text-align: center;
}
body main section.confirm div.button-area {
  position: relative;
  width: 100%;
  text-align: center;
}
body main section.confirm div.button-area a {
  position: absolute;
  left: 50%;
  display: block;
  width: auto;
  height: 40px;
  font-size: 20px;
  line-height: 40px;
  background-color: #ffffff;
  padding: 10px;
  color: black;
  margin: 50px 0 0;
  transform: translateX(-50%);
}
body main section.semdmail {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 25px 10px;
  border-top: solid 1px white;
}
body main section.semdmail div.semdmail p {
  text-align: center;
  padding-top: 30px;
}
body main section.semdmail div.button-area {
  position: relative;
  width: 100%;
  text-align: center;
}
body main section.semdmail div.button-area a {
  position: absolute;
  left: 50%;
  display: block;
  width: auto;
  height: 40px;
  font-size: 20px;
  line-height: 20px;
  background-color: white;
  padding: 10px;
  color: black;
  margin: 50px 0 60px;
  transform: translateX(-50%);
}
body main section.about {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  width: 100%;
}
body main section.about div.hero-profile {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 300px;
}
body main section.about div.hero-profile div.img {
  width: 200px;
  aspect-ratio: 1/1;
  background-color: gray;
  border-radius: 50%;
  border: solid 25px yellow;
  box-sizing: border-box;
}
body main section.about div.hero-profile ul {
  padding-top: 30px;
  padding-left: 0;
  list-style: none;
}
body main section.about div.hero-profile ul li {
  font-size: 1.2em;
}
body main section.about div.hero-profile ul li ruby {
  font-weight: bold;
}
body main section.about div.hero-profile ul li ruby rt {
  font-size: 50%;
}
body main section.about div.hero-text {
  width: 60%;
  padding: 50px 100px;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: -1;
}
body main section.about div.hero-text p {
  color: #000000;
}
body main section.background {
  padding-top: 60px;
}
body main section.background table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  font-size: 16px;
}
body main section.background table thead th {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
  font-weight: bold;
}
body main section.background table tbody td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}
body footer {
  width: 100%;
  height: 80px;
  color: black;
  background-color: white;
}
body footer p {
  text-align: center;
  padding: 20px 0;
}/*# sourceMappingURL=style.css.map */